body {
  margin: 0;
  padding-bottom: 500px;
  box-sizing: border-box;
}

:root {
  --paper-light: #FFFFFF;
  --default-light: #FAFAFA;
  --paper-dark: #424242;
  --default-dark: #303030;

  --primary-main: #2196F3;
  --primary-light: #BBDEFB;
  --primary-dark: #0D47A1;

  --secondary-main: #00BCD4;
  --secondary-light: #B2EBF2;
  --secondary-dark: #006064;

  --accent-main: #651FFF;
  --accent-light: #EDE7F6;
  --accent-dark: #4527A0;

  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.54);
  --text-secondary-dark-mode: rgba(255,255,255,0.7);
  --text-disabled: rgba(0, 0, 0, 0.38);
  --text-field: rgba(0, 0, 0, 0.42);

  --roboto-regular: 400;
  --roboto-medium: 500;
  --roboto-bold: 700;
  --roboto-condensed-bold: 700;
}

h1 {
  font-size: 48px;
  font-family: Roboto, sans-serif;
  font-weight: var(--roboto-bold);
  color:  var(--text-primary);
  line-height: 64px;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-family: Roboto, sans-serif;
  font-weight: var(--roboto-medium);
  color:  var(--text-primary);
  line-height: 42px;
  margin: 0;
}

h3 {
  font-size: 28px;
  font-family: Roboto, sans-serif;
  font-weight: var(--roboto-medium);
  color:  var(--text-primary);
  line-height: 36px;
  margin: 0;
}

h4 {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: var(--roboto-medium);
  color:  var(--text-primary);
  line-height: 36px;
  margin: 0;
}

p {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: var(--roboto-regular);
  color:  var(--text-primary);
  line-height: 24px;
  margin: 0;
}

  /* Buttons */
.button-default-flat-primary {
  width: 205px;
  height: 39px;
  border-radius: 10px;
  background-color: var(--primary-main);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: var(--roboto-medium);
  color: var(--paper-light);
  border: none;
}

.button-default-secondary {
  width: 205px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--paper-light);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: var(--roboto-medium);
  color: var(--secondary-main);
  border: 2px solid;
  border-color: var(--secondary-main);
}

.button-flat-secondary {
  width: 205px;
  height: 39px;
  border-radius: 10px;
}

  /* Header */
header {
  display: flex;
  width: 100%;
  padding: 2rem 6%;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

header .left {
  display: flex;
  width: 10%;
  align-items: center;
  gap: 7px;
}

header .middle {
  width: 50%;
  margin-right: 70px;
}

header > .middle > nav {
  display: flex;
  width: 100%;
  gap: 60px;
  white-space: nowrap;
}

header > .middle > nav > a {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: var(--roboto-medium);
  color: var(--text-secondary);
  text-decoration: none;
  position: relative;
  transition: 0.4s;
}

header > .middle > nav > a:hover {
  color: var(--primary-main);
}

header > .middle > nav > a::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: var(--primary-main);
  transition: 0.4s;
}

header > .middle > nav > a:hover::after {
  width: 100%;
}

header .right {
  display: flex;
  justify-content: space-between;
  width: 23%;
  align-items: center;
}

header > .right > a {
  font-family: Roboto, sans-serif;
  font-weight: var(--roboto-medium);
  color: var(--text-primary);
  text-decoration: none;
}

header .right button {
  width: 125px;
}

header .right img {
  padding-left: 30px;
  border-left: 2px solid #979797;
}

  /* Front Page Background */
.front-page-bg-top {
  position: absolute;
  top: -95%;
  right: -25%;
  z-index: -1;
}

.front-page-bg-bottom {
  position: absolute;
  top: -80%;
  right: -25%;
  z-index: -2;
}


  /* Front Page */
.front-page {
  display: flex;
  padding: 0 1% 0 6%;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 80px;
  justify-content: space-between;
}

.front-page .left {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap:  24px;
}

.front-page > .left > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* front page footer */
.front-page-footer {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 66px;
}

.front-page-footer div {
  position: relative;
}

.front-page-footer .left, .front-page-footer .middle, .front-page-footer .right {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.front-page-footer .middle h2 {
  position: relative;
}

.front-page-footer .middle h2::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 7px;
  bottom: 0;
  height: 60px;
  width: 2px;
  background-color: var(--accent-light);
  align-items: center;
}

.front-page-footer .middle h2::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 7px;
  bottom: 0;
  height: 60px;
  width: 2px;
  background-color: var(--accent-light);
  align-items: center;
}

.front-page-footer div::after {
  content: '';
  width: 0;
  position: absolute;
  bottom: -5px;
  height: 4px;
  border-radius: 9999px;
  background-color: var(--primary-main);
  transition: 0.5s;
}

.front-page-footer div:hover::after {
  width: 100%;
}

.front-page-footer div h2 {
  transition: 0.5s;
}

.front-page-footer div:hover  h2 {
  color: var(--primary-main);
}

  /* about us */
.about-us {
  display: flex;
  padding: 0 6% 0 5px;
  justify-content: space-between;
}

.about-us > .right {
  display: flex;
  flex-direction: column;
  width: 43%;
  box-sizing: border-box;
  gap: 20px;
  justify-content: center;
}

.about-us > .right > .right-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.about-us > .right > .right-bottom .left, .about-us > .right > .right-bottom .middle, .about-us > .right > .right-bottom .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us > .right > .right-bottom h1 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.about-us > .right > .right-bottom h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  height: 10px;
  border-radius: 9999px;
  background-color: var(--primary-main);
}

.services {
  height: 400px;
}

.services img {
  position: absolute;
}